# compilation and distribution
__pycache__/
*.pyc
*.so
data/datasets/*
!data/*.yaml
!data/scripts/*.sh
runs/*

# pytorch/python/numpy formats
*.pth
*.npy

# ipython/jupyter notebooks
*.ipynb

# Editor temporaries
*.swn
*.swo
*.swp
*~

# Pycharm editor settings
.idea
.DS_Store