# compilation and distribution
__pycache__/
*.pyc
*.so
data/*
!data/*.yaml
!data/scripts/*.sh
outputs/*

# pytorch/python/numpy formats
*.pth
*.pkl
*.npy

# ipython/jupyter notebooks
*.ipynb

# Editor temporaries
*.swn
*.swo
*.swp
*~

# Pycharm editor settings
.idea
.DS_Store